.App {
  font-family: sans-serif;
  text-align: center;
}

.droppable-element {
  width: 200px;
  text-align: center;
  background: #fdd;
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px;
}

.grid-item__header:hover {
  cursor: move;
}


@media print {
  .print-layout {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .page-container {
    max-width: 100%;
    height: 100vh;
    margin: 0;
    padding: 1cm;
    box-sizing: border-box;
  }

  .print-button {
    display: none; /* Hide print button when printing */
  }
}

/* Regular screen styles */
.page-container {
  max-width: 210mm; /* A4 width */
  margin: 0 auto;
  padding: 1cm;
}